<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>django-site</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Здравствуйте!</h2>-->
<!--<h1>Добро пожаловать на сайт Django.</h1>-->
<!--<p>Этот django-сайт сделан с использованием фреймворка "Django".</p>-->
<!--</body>-->
<!--</html>-->

{% extends 'base.html' %}

{% block title %}django-site{% endblock %}

{% block content %}
<h2>Здравствуйте!</h2>
<h1>Добро пожаловать на сайт Django.</h1>
<p>Этот django-сайт сделан с использованием фреймворка "Django".</p>
{% endblock %}